<!--HEADER-->
<header>
  <!--TOP NAVIGATION BAR-->
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <!--Navigation bar toggle-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--Navigation button-->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!--Left button-->
      <ul class="navbar-nav mr-auto">
        <!--Shop-->
        <li class="nav-item">
          <a class="nav-link" href="#">SHOP</a>
        </li>

        <!--Product-->
        <li class="nav-item dropdown">
          <a class="nav-link"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PRODUCT</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"  href="#">SHIRT</a></li>
            <li><a class="dropdown-item"  href="#">DRESS</a></li>
            <li><a class="dropdown-item"  href="#">TROUSERS</a></li>
            <li><a class="dropdown-item"  href="#">BIKINI</a></li>

          </ul>
        </li>

        <!--About-->
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownAboutLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT US</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAboutLink">
            <li><a class="dropdown-item" href="#">Contact</a></li>
            <li><a class="dropdown-item" href="#">Store</a></li>
            <li><a class="dropdown-item" href="#">History</a></li>
            <li><a class="dropdown-item" href="#">Vision</a></li>
            <li><a class="dropdown-item" href="#">Our brands</a></li>
          </ul>
        </li>

        <!--Help-->
        <li class="nav-item">
          <a class="nav-link" href="#">HELP</a>
        </li>
      </ul>

    </div>
  </nav>
</header>
<!--END OF HEADER-->
